<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="ServerFolder*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />
      <add path="OData*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />
      <add path="Twitter*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />
      <add path="Blob*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />

      <add path="ServerFolder*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="OData*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="Twitter*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="Blob*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="ServerFolder*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="OData*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="Twitter*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add path="Blob*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
 
      <add path="ServerFolder*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />
      <add path="OData*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />
      <add path="Twitter*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />
      <add path="Blob*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />

      <add path="ServerFolder*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
      <add path="OData*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
      <add path="Twitter*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
      <add path="Blob*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
    </httpHandlers>
        <machineKey decryption="AES" decryptionKey="0CA3EFAF0F7A5E7A62681C0BF656EE0ECE31ACEE3E1023BA3FAD20EA5F199DE8" validation="SHA1" validationKey="478E2D00059369E5F8A855E6BC77C07AA3659C829DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />    
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!-- Deep Zoom Collection and Deep Zoom Image XML and image handlers -->
      <add name="DZC1" path="ServerFolder*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />
      <add name="DZC2" path="OData*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />
      <add name="DZC3" path="Twitter*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />
      <add name="DZC4" path="Blob*.dzc" verb="GET" type="CollectionBuilderRole.DzcHandler, CollectionBuilderRole" />

      <add name="DZI1" path="ServerFolder*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI2" path="OData*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI3" path="Twitter*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI4" path="Blob*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI5" path="ServerFolder*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI6" path="OData*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI7" path="Twitter*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />
      <add name="DZI8" path="Blob*/dzi/*.dzi" verb="GET" type="CollectionBuilderRole.DziHandler, CollectionBuilderRole" />


      <add name="DeepZoomImage1" path="ServerFolder*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />
      <add name="DeepZoomImage2" path="OData*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />
      <add name="DeepZoomImage3" path="Twitter*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />
      <add name="DeepZoomImage4" path="Blob*/dzi/*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.DeepZoomImageHandler, CollectionBuilderRole" />

      <add name="ImageTile1" path="ServerFolder*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
      <add name="ImageTile2" path="OData*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
      <add name="ImageTile3" path="Twitter*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
      <add name="ImageTile4" path="Blob*_files/*/*_*.jpg" verb="GET" type="CollectionBuilderRole.ImageTileHandler, CollectionBuilderRole" />
    </handlers>

        <staticContent>
            <remove fileExtension=".dzi" />
            <remove fileExtension=".dzc" />
            <remove fileExtension=".cxml" />
            <mimeMap fileExtension=".cxml" mimeType="text/xml" />
            <mimeMap fileExtension=".dzi" mimeType="text/xml" />
            <mimeMap fileExtension=".dzc" mimeType="text/xml" />
        </staticContent>

  </system.webServer>
</configuration>
